.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    background-color: rgb(10, 121, 10);
    cursor: pointer;
}

h1 {
    margin-top: 20px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h1 {
    font-weight: bolder;
    background-color: #1adb54;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

h1:hover {
    color: rgb(10, 121, 10);
}

.name-in {
    text-align: center;
}

.btn {
    margin-left: 47%;
    height: 40px;
    background-color: black;
    width: 80px;
}

.btn:hover {
    opacity: 0.7;
}